<script src="/socket.io/socket.io.js"></script>
<script src="./js/admin.js"></script>
<div>
  <h1>ADMIN PANEL</h1>
</div>
<br />
<br />
<br />
<div>
  <h2>TESTIMONIALS:</h2>
  <br />
  <table style="width: 1000px;">
    <tr>
      <th>User Image</th>
      <th>User Name</th>
      <th>User Testimonial</th>
      <th>Add testimial to Index</th>
    </tr>
    {{#each testimonials}}
      <tr>
        <td>
          <img src="{{this.image}}" />
        </td>
        <td>
          {{this.username}}
        </td>
        <td>
          "{{this.testimonial}}"
        </td>
        <td>
          <a href="#" id="chooseTestimony" data-username="{{this.username}}"
            data-testimonial="{{this.testimonial}}"
            data-image="{{this.image}}">Display {{this.username}}'s
            testimonial on
            Home Page &rarr;</a>
        </td>
      </tr>
    {{/each}}

  </table>
</div>