<script src="/socket.io/socket.io.js"></script>
<script src="./js/index.js"></script>
<span>
  {{#if user}}
    <a href="profile" class="btn-text login">Profile&rarr;</a>
  {{else}}
  {{/if}}
</span>
<span>
  {{#if user}}
    <a href="auth/logout" class="btn-text login">Logout&rarr;</a>
  {{else}}
    <a href="auth/google" class="btn-text login">Login &rarr;</a>
  {{/if}}
</span>
<header class="header">
  <img src="assets/images/cityPano.jpg" alt="city pano" class="spin"
    id="spinning" />
  <div class="header__text-box">
    <h1 class="heading-primary">
      <div class="row">
        <div class="col-md-12">
          <span class="heading-primary--main">COL-lege</span>
        </div>
      </div>
      <div class="row">
        <!-- Placeholder -->
        <div class="col-md-9"></div>
        <div class="col-md-3 mission--heading">
          Our Mission
        </div>
    </h1>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 company-statement">
        <h3>This website was created to help college students, both current and
          prospective, be able to choose a major
          and a city, and then look at how their salary will stack up against
          the cost of living in that city.

        </h3>

        <div class="row">
          <div class="col-md-12">
            <a href="/auth/google" class="btn-text heading-btn">Get Started
              &rarr;</a>
            <a href="/signUp" class="btn-text heading-btn">Sign Up!</a>
            <h4>Already a user?<a href="/signIn"> Sign In!</a></h4>
          </div>
        </div>
      </div>

    </div>
  </div>








  </div>
</header>

<main>
  <section class="testimonialSection">
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading-secondary">Testimonials</h2>

      </div>
    </div>
    <div class="row" id="testimonialRow">
      <!-- placeholders for testimonials -->
      <!-- dont use this one -->
      <div class="col-md-1"></div>
      <!-- populate these with testimonials -->
      {{#each testimonials}}
        <div class="col-md-3 testimonialText2 mx-auto text-center shadow-lg"
          id="{{this.username}}">
          <img src="{{this.image}}" style="min-height: 170px; max-heigh: 200px;"
            class="rounded" />
          <h5>{{this.testimonial}}</h5>
          <h6>-{{this.username}}</h6>
        </div>
      {{/each}}
      <div class="col-md-1"></div>


    </div>
    <br>
    <div class="row text-center mt-5">
      <div class="col-md-1"></div>
      <div class="col-10">
        <a href="/auth/google" class="btn-text heading-btn m-0">Get Started
          →</a>

      </div>
      <div class="col-md-1"></div>
    </div>

  </section>

  <!-- Footer -->
  <footer class="footer fixed-bottom text-right">
    <div class="transparent">
      <a href="https://github.com/dashinja">Miller</a>
      <a href="https://github.com/smentzer">Mentzer</a>
      <a href="https://github.com/mspenski">Spenski</a>
      <a href="https://github.com/Jamesis1">Uttro</a>
      <span class="copytext"> &copy; </span>
    </div>
  </footer>
</main>