<script src="/socket.io/socket.io.js"></script>
<script src="./js/profile.js"></script>

<nav class="navbar navbar-transparent">
  <span class="navbar-brand mb-0 h1"><a href="/"><img
        src="assets/images/basic_home.png" height="32" width="32"
        alt="home"></a></span>
  <a href="auth/logout" class="btn-text login">Logout&rarr;</a>
</nav>
<div <!--FIXME: class="theWholecontainer" -->>
  <br />

  <div <!--FIXME:class="profile-container" -->>
    <img src="{{user.picture}}" alt="User" />
    <br /><br />


    <h2>Name:
      {{#if user.username}}{{user.username}}{{else}}{{user.localUsername}}{{/if}}
    </h2>

    <br /><br />
    <h2>Major: {{user.majorChoice}}</h2>
    <p>Starting Salary: ${{userData.major.starting_salary}}</p>
    <p>Mid-Career Salary: ${{userData.major.mid_career_salary}}</p>
    <br /><br />
    <h2>Living Place: {{user.cityChoice}}, {{userData.cost.state}}</h2 <p>Cost
    of Living: ${{userData.cost.cli}}</p>
    <p>Cost of Living w/rent: ${{userData.cost.cli_plus_rent}}</p>


    <a href="/questions" class="btn-text questionnaire-btn"
      id="questionnaireBTN">Re-Take
      Questionnaire &rarr;</a>

    <a href="/profile" class="btn-text save-btn" id="saveBTN">Save
      &rarr;</a>
    <a href="/profile" class="btn-text submit-btn" id="submitBTN">Submit
      &rarr;</a>
    <br /><br />
    <!-- FIXME: NEED TO HAVE A FORM WITH A POST ACTION TO THE CORRECT ROUTE WHICH UPDATES THE USER IN THE DB WITH THIS TESTIMONIAL FIELD -->
    <h2>Testimonial:</h2>
    <textarea class="form-control" rows="5" id="testimonal-box"
      placeholder="User Testimonal"></textarea>
    <br /><br />
    <h2>Notes:</h2>
    <textarea class="form-control" rows="5" id="notes-box"
      placeholder="User Notes"></textarea>
    <a href="#" class="btn-text submit-btn" id="saveBTN">Save Note &rarr;</a>
    <div id="allNotes">
      {{#each notes}}
        <h4>{{this.note}}</h4>
      {{/each}}
    </div>
  </div>

  <div id="fullChat"
    style="height: 140px; overflow: scroll; background-color: white;">
    {{#each fullChat.comments}}
      <h5>{{this.text}}</h5>
    {{/each}}
  </div>

  <div>
    <textarea type="text" id="chatBox" rows="1"></textarea>
    <label>Type your message...</label>
  </div>

  <!-- Footer -->
  <footer class="footer fixed-bottom text-right">
    <div class="transparent">
      <a href="https://github.com/dashinja">Miller</a>
      <a href="https://github.com/smentzer">Mentzer</a>
      <a href="https://github.com/mspenski">Spenski</a>
      <a href="https://github.com/Jamesis1">Uttro</a>
      <span class="copytext"> &copy; </span>
    </div>
  </footer>


  <script>

    $(function () {
      $("#submitBTN").on("click", function (event) {
        event.preventDefault();

        console.log("I've beeen CLIIIIICCCKKKEDD!")
        let testimonial = $("#testimonal-box").val()
        console.log("Testimonial Text:")
        console.log(testimonial)

        let clientTestimonyHolder = []
        $.ajax({
          type: "POST",
          url: '/api/user/testimony',
          data: testimonial,
          success: (response) => {
            console.log("Successful Testimonial POST")
            console.log("I'm 'response': ", response)
            {
              {
                clientTestimonyHolder = clientTestimonyHolder.push(response)
                console.log("Im the updated clientTestimonyHolder:")
                console.log(clientTestimonyHolder)--
              }
            }
          }
        })
      })

      $("#saveBTN").on("click", event => {
        event.preventDefault();

        const note = $("textarea#notes-box").val();
        console.log("I'm 'note' saved into a variable 💩:")
        console.log(note)
        const toSend = {
          note: note
        }
        $.ajax({
          type: "POST",
          url: '/api/user/note',
          data: toSend,
          success: response => {
            console.log('saved a note')
          }
        })
      })
    })
  </script>