<script src="/socket.io/socket.io.js"></script>
<script src="./js/profile.js"></script>

<nav class="navbar navbar-transparent">
  <span class="navbar-brand mb-0 h1"><a href="/"><img
        src="assets/images/basic_home.png" height="32" width="32"
        alt="home"></a></span>
  {{#if user.admin}}<a href="admin" class="btn-text login">Admin</a>{{/if}}
  <a href="auth/logout" class="btn-text login">Logout&rarr;</a>
</nav>
<div class="theWholecontainer">


  <div class="profile-container">
    <img src="{{user.picture}}" alt="User" />
    <br /><br />


    <h2><strong>Name:
      </strong>{{#if user.username}}{{user.username}}{{else}}{{user.localUsername}}{{/if}}
    </h2>
    <br /><br />
    <h2><strong>Major:</strong> {{user.majorChoice}}</h2>
    <p><strong>Starting Salary:</strong> ${{userData.major.startingSalary}}</p>
    <p><strong>Mid-Career Salary:</strong> ${{userData.major.midCareerSalary}}
    </p>
    <br /><br />
    <h2><strong>Living Place: </strong> {{user.cityChoice}},
      {{userData.cost.state}}</h2>
    <p><strong> Cost of Living:</strong> ${{userData.cost.costOfLivingIndex}}
    </p>
    <p><strong>Cost of Living w/rent:</strong>
      ${{userData.cost.costOfLivingPlusRent}}</p>
    <a href="/profile/{{#if user.username}}{{user.username}}{{else}}{{user.localUsername}}{{/if}}/stats"
      class="btn-text submit-btn" id="goToData">See my data &rarr;</a>


    <a href="/questions" class="btn-text submit-btn" id="submitBTN">Re-Take
      Questionnaire &rarr;</a>

    <br /><br />
    <h2><strong>Testimonial:</strong></h2>
    <div id="currentTestimony">{{testimonial.testimonial}}</div>
    <textarea class="form-control" rows="5" id="testimonialBox"
      placeholder="User Testimonal"></textarea>
    <a href="#" class="btn-text submit-btn" id="submitTestimonial">Submit
      Testimonial &rarr;</a>
    <br /><br />
    <h2><strong>Notes:</strong></h2>
    <textarea class="form-control" rows="5" id="notes-box"
      placeholder="User Notes"></textarea>
    <a href="#" class="btn-text submit-btn" id="saveBTN">Save Note &rarr;</a>
    <div id="allNotes">
      {{#each notes}}
        <h4>{{this.note}}</h4>
      {{/each}}
    </div>

    <br />
    <div id="fullChat"
      style="height: 140px; overflow: scroll; background-color: white;">
      {{#each fullChat.comments}}
        <h5>{{this.text}}</h5>
      {{/each}}
    </div>
    <div>
      <textarea type="text" id="chatBox" rows="1">

      </textarea>
      <<<<<<< HEAD <label>Type your message...</label>
    </div>

  </div>
</div>
=======
<label>Type your message...</label>
</div>


</div>

>>>>>>> a6645b0ae2b0d44b291bb7a4385d56fdf680bbde

<!-- Footer -->
<footer class="footer fixed-bottom text-right">
  <div class="transparent">
    <a href="https://github.com/dashinja">Miller</a>
    <a href="https://github.com/smentzer">Mentzer</a>
    <a href="https://github.com/mspenski">Spenski</a>
    <a href="https://github.com/Jamesis1">Uttro</a>
    <span class="copytext"> &copy; </span>
  </div>
</footer>
</div>