<nav class="navbar navbar-transparent">
  <span class="navbar-brand mb-0 h1"><a href="/"><img
        src="assets/images/basic_home.png" height="32" width="32"
        alt="home"></a></span>
  <!-- FIXME: we need to remove this button once we have updated the flow of the website -->
  <span>
    {{#if user}}
      <a href="auth/logout" class="btn-text login">Logout&rarr;</a>
    {{else}}
      <a href="auth/google" class="btn-text login">Login &rarr;</a>
    {{/if}}
  </span>
</nav>


<div class="questionsPage">

  <div class="form-container">
    <div class="questions">
      <p>Questions</p>

      <hr>
      <!-- <div class="form-group">
                <label for="exampleFormControlSelect1">College Choice</label>
                <select class="form-control" id="a1">
                  <option></option>
                </select>
              </div> -->
      <div class="form-group">
        <label name="major" for="exampleFormControlSelect1">Choose you major
        </label>
        <select class="form-control" id="a2">
          {{#each major}}
            <option value={{id}}>{{major}}</option>
          {{/each}}
        </select>
      </div>

      <div class="form-group">
        <label name="cost" for="exampleFormControlSelect1">Where to live after
          college?</label>
        <select class="form-control" id="a3">
          {{#each cost}}
            <option value="{{this.id}}">{{this.city}}, {{this.state}}</option>
          {{/each}}
        </select>
      </div>

      <br />

    </div>
    <a href='/api/user/answers' class="btn-text submit-btn"
      id="submitBTN">Submit
      &rarr;</a>





  </div>


</div>
<!-- Footer -->
<footer class="footer fixed-bottom text-right">
  <div class="transparent">
    <a href="https://github.com/dashinja">Miller</a>
    <a href="https://github.com/smentzer">Mentzer</a>
    <a href="https://github.com/mspenski">Spenski</a>
    <a href="https://github.com/Jamesis1">Uttro</a>
    <span class="copytext"> &copy; </span>
  </div>
</footer>


<script>
  $(function () {
    $("#submitBTN").on("click", function (event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();

      let majorChoice = $("#a2 option:selected").text()
      let cityChoice = $("#a3 option:selected").text()

      console.log("I'm major Choice:", majorChoice)
      console.log("I'm city Choice:", cityChoice)

      let answers = {
        major: majorChoice,
        cost: cityChoice.split(',')[0]
      }

      // POST to '/api/user/answers'
      $.ajax({
        type: "POST",
        url: '/api/user/answers',
        data: answers,
        success: response => {
          return window.location.replace(response);
        }
      })


    });
  })
</script>