<script src="./js/questions.js"></script>
<nav class="navbar navbar-transparent">
  <span class="navbar-brand mb-0 h1"><a href="/"><img
        src="assets/images/basic_home.png" height="32" width="32"
        alt="home"></a></span>
  <!-- FIXME: we need to remove this button once we have updated the flow of the website -->
  <span>
    {{#if user}}
      <a href="auth/logout" class="btn-text login">Logout&rarr;</a>
    {{else}}
      <a href="auth/google" class="btn-text login">Login &rarr;</a>
    {{/if}}
  </span>
</nav>


<div class="questionsPage">
  <header class="text-center">
    <h1 class="display-4 text-center pt-5 mb-0">Welcome
      {{#if user.username}}{{user.username}}{{else}}{{user.localUsername}}{{/if}}
    </h1>
    <h2 class="">It pays:</h2>
    <h4 class="">- To consider the cost of climbing a mountain -</h4>
    <h4 class="">- The Price of Mounting the Summit -</h4>
    <h4 class="">- What to do from the Summit -</h4>
  </header>
  <div class="form-container mt-0">
    <div class="questions">
      <p>Questions</p>

      <hr>
      <!-- <div class="form-group">
                <label for="exampleFormControlSelect1">College Choice</label>
                <select class="form-control" id="a1">
                  <option></option>
                </select>
              </div> -->
      <div class="form-group">
        <label name="major" for="exampleFormControlSelect1">Choose Field of
          Study
        </label>
        <select class="form-control" id="a2">
          {{#each answers.major}}
            <option value={{this.id}}>{{this.major}}</option>
          {{/each}}
        </select>
      </div>

      <div class="form-group">
        <label name="cost" for="exampleFormControlSelect1">Where you'll live
          after
          college?</label>
        <select class="form-control" id="a3">
          {{#each answers.cost}}
            <option value="{{this.id}}">{{this.city}}, {{this.state}}</option>
          {{/each}}
        </select>
      </div>

      <br />

    </div>
    <a href='/api/user/answers' class="btn-text submit-btn"
      id="submitBTN">Submit
      &rarr;</a>





  </div>


</div>
<!-- Footer -->
<footer class="footer fixed-bottom text-right">
  <div class="transparent">
    <a href="https://github.com/dashinja">Miller</a>
    <a href="https://github.com/smentzer">Mentzer</a>
    <a href="https://github.com/mspenski">Spenski</a>
    <a href="https://github.com/Jamesis1">Uttro</a>
    <span class="copytext"> &copy; </span>
  </div>
</footer>